.titulo{
    /* background-color: white; */
    text-decoration: underline;
    color: orangered;
}

.titulo2{
    color: rgb(16, 157, 239);
}

.titulo3{
    color:crimson;
}

.titulo4{
    color: rgb(98, 255, 0);
}
.titulo5{
    color: rgb(238, 47, 255);
}
.titulo6{
    color: orangered;
}

.state{
    color: rgb(238, 47, 255);
}
.botaoState{
    margin: 10px;
}